<!DOCTYPE html>
<html>
<head>
<title>
    Farmerlogin
</title>
</head>
<body>
<div class="form container">
<form action="/FarmerLogin">
    <div class="form group">
    <label for="name">Farmer Name</label>
    <input type="text" id="name" name="username" placeholder="Enter your name" required aut="off">    
    </div>

    <div class="form group">
        <label for="name">Password</label>
        <input type="password" id="password" name="password" placeholder="Enter your password" required aut="off">    
    </div>
</form>
</div>
<p>Didn't register goto farmer sign up</p><a href="/FarmerSign">Sign up</a>
</body>

</html>